/* General Styles */
.line-numbers {
    counter-reset: line-number;
    font-family: 'Courier New', monospace;
    background-color: #f4f4f4;
    border: 1px solid #ccc;
    padding: 10px;
    line-height: 1;
    margin: 0;
}

    .line-numbers code > span {
        display: block;
        margin: 0;
        padding: 0;
    }

        .line-numbers code > span:before {
            display: inline-block;
            width: 30px;
            margin-right: 10px;
            text-align: right;
            color: lightgrey;
            font-weight: bold;
        }

.line-number-man {
    color: lightgrey;
}

/* Background and Text Colors */
.row-changed {
    background-color: lightgoldenrodyellow;
    color: black;
}

.row-missing {
    background-color: lightcoral;
    color: white;
}

.row-new {
    background-color: lightgreen;
    color: black;
}

.row-imaginary {
    background-color: lightgray;
    color: black;
}

/* Special Text Styles */
.row-changed .text-warning,
.row-changed-changed-text {
    color: darkorange;
}

.row-changed-added-text {
    color: darkgreen;
}

.row-changed-removed-text {
    color: darkred;
}

.block-span {
    display: block;
}
