@page "/DiffChecker"
@inherits Base.BasePage
@using DiffPlex.DiffBuilder
@using DiffPlex.DiffBuilder.Model
@using MyDevTools.Components.Pages.Components
@inject Services.IClipboardService ClipboardService

<h3 class="text-center">Diff Checker</h3>
<p>Rest assured, your data stays on your device</p>

<div class="container">
    <div class="row">
        <div class="col-md-5">
            <textarea class="form-control" @bind="text1" placeholder="Enter diff from text" rows="7"></textarea>
        </div>
        <div class="col-md-2 text-center">
            <button class="btn btn-primary" @onclick="CompareTexts">Compare</button>
        </div>
        <div class="col-md-5">
            <textarea class="form-control" @bind="text2" placeholder="Enter diff to text" rows="7"></textarea>
        </div>
    </div>

    @if (diffModel != null)
    {
        <div class="row mt-4">
            <div class="col-md-6">
                <DiffOutput PaneModel="diffModel.OldText" />
            </div>
            <div class="col-md-6">
                <DiffOutput PaneModel="diffModel.NewText" />
            </div>
        </div>    
    }
</div>


@code {
    private string text1 = "";
    private string text2 = "";
    private SideBySideDiffModel diffModel;

    protected override async void OnInitialized()
    {
        await UpdateMetaTagsAsync("Compare code and text to find differences.", "Diff Checker, Dev Tools, Code Comparison");

 //       text1 = $"Example unchanged.{Environment.NewLine}Example changed.{Environment.NewLine}Example gone.{Environment.NewLine}";
 //       text2 = $"Example unchanged.{Environment.NewLine}Example CHANGED.{Environment.NewLine}{Environment.NewLine}Example new.";
        CompareTexts();
    }

    private void CompareTexts()
    {
        var diffBuilder = new SideBySideDiffBuilder(DiffPlex.Differ.Instance);
        diffModel = diffBuilder.BuildDiffModel(text1, text2);
    }
}
