@page "/"

<PageTitle>My Dev Tools</PageTitle>

<!-- Hero Section -->
<section class="hero-section bg-dark text-white text-center">
    <div class="container">
        <img src="/main-logo-white-transparent.svg" alt="My Dev Tools logo" />
        <p class="lead">No user input data sent over the internet!</p> 
        <p class="lead">All processing is done locally in your browser.</p>
    </div>
</section>

<!-- About Section -->
<section class="about-section bg-light text-center">
    <div class="container">
        <h5>Is this site missing a useful feature?</h5> 
        <h6>Log an Issue or submit a PR at: </h6><a href="https://github.com/MrCull/MyDevTools">github.com/MrCull/MyDevTools</a>
    </div>
</section>

@* <!-- Features Section -->
<section class="features-section text-center">
    <div class="container">
        <h2>Key Features</h2>
        <div class="row">
            <div class="col-md-4">
                <h3>JSON Formatter</h3>
                <p>Clean and format your JSON.</p>
            </div>
            <div class="col-md-4">
                <h3>Branch Names</h3>
                <p>Auto-format your Git branch names.</p>
            </div>
            <div class="col-md-4">
                <h3>Hash Generator</h3>
                <p>Generate secure hashes with ease.</p>
            </div>
        </div>
    </div>
</section> *@
