@page "/"

<PageTitle>Home</PageTitle>

<!-- Hero Section -->
<section class="hero-section bg-dark text-white text-center">
    <div class="container">
        <h1 class="display-3">Dev Tools</h1>
        <p class="lead">No input data sent over the internet! All processing is done locally in your browser.</p>
    </div>
</section>

<!-- About Section -->
<section class="about-section bg-light text-center">
    <div class="container">
        <h2>Is this site missing a useful feature? Log an Issue or submit a PR...</h2>
        <p><a href="https://github.com/MrCull/MyDevTools">github.com/MrCull/MyDevTools</a></p>
    </div>
</section>

@* <!-- Features Section -->
<section class="features-section text-center">
    <div class="container">
        <h2>Key Features</h2>
        <div class="row">
            <div class="col-md-4">
                <h3>JSON Formatter</h3>
                <p>Clean and format your JSON.</p>
            </div>
            <div class="col-md-4">
                <h3>Branch Names</h3>
                <p>Auto-format your Git branch names.</p>
            </div>
            <div class="col-md-4">
                <h3>Hash Generator</h3>
                <p>Generate secure hashes with ease.</p>
            </div>
        </div>
    </div>
</section> *@
