@page "/jsonformatter"

<label for="inputQuery">Input JSON (rest assured, your data stays on your device):</label>
<iframe id="myiframe" src="iframepages/jsonformatter.html" height="650px" width="1050px" scrolling="no" />