/*.output-pane {
    overflow: hidden;
    resize: none;*/ /* Prevent manual resizing */
    /*min-height: 2em;*/ /* Minimum height */
    /*box-sizing: border-box;*/ /* Include padding in the height calculation */
/*}*/

.textarea {
    overflow: hidden;
    resize: none; /* Prevent manual resizing */
}

.text-success {
    color: green;
}

.button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

    .button:hover {
        background-color: #0056b3;
    }

.label {
    margin-left: 10px;
}
