@page "/SqlFormatter"
@inherits Base.BasePage
@using System.Text
@using BasicSQLFormatter
@inject Services.IClipboardService ClipboardService

<h3 class="text-center">Database Query Formatter</h3>

<div class="container">
    <div class="row">
        <div class="col-md-10 offset-md-1">
            <div class="form-group">
                <label for="inputQuery">Input SQL (rest assured, your data stays on your device):</label>
                <textarea id="inputQuery" class="form-control auto-expand" @bind="inputQuery" rows="6"></textarea>
            </div>

            <button class="btn btn-primary btn-block" @onclick="FormatSQLQuery">Format SQL Query</button>
        </div>
    </div>

    @if (!string.IsNullOrEmpty(formattedQuery))
    { 
        <OutputAndCopyToClipboard OutputText="@formattedQuery" />
    }
</div>

@code {
    private string inputQuery = "SELECT name, age, department FROM employees INNER JOIN departments ON employees.department_id = departments.id WHERE age > 21 AND (department = 'Engineering' OR department = 'HR') GROUP BY department ORDER BY age DESC;";
    private string formattedQuery = "";

    protected override async Task OnInitializedAsync()
    {
        await UpdateMetaTagsAsync("Make your SQL queries more readable.", "SQL Formatter, Dev Tools, Database Tools");

        FormatSQLQuery();
    }

    private void FormatSQLQuery()
    {
        try
        {
            var formatter = new SQLFormatter(inputQuery);
            formattedQuery = formatter.Format();
        }
        catch (Exception ex)
        {
            formattedQuery = "Error: " + ex.Message;
        }
    }
}
