<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Dev Tools</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="JsonFormatter">
                <span class="bi bi-code-square" aria-hidden="true"></span> Json Formatter
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="SqlFormatter">
                <span class="bi bi-table" aria-hidden="true"></span> SQL Formatter
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="GuidGenerator">
                <span class="bi bi-key-fill" aria-hidden="true"></span> GUID Gen
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="randomNumberGenerator">
                <span class="bi bi-dice-3" aria-hidden="true"></span> Random Numbers
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="ColorPickerConverter">
                <span class="bi bi-palette" aria-hidden="true"></span> Colour Converter
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="hashGenerator">
                <span class="bi bi-lock-fill" aria-hidden="true"></span> Hash Gen
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="UrlEncoderDecoder">
                <span class="bi bi-link" aria-hidden="true"></span> Url Encoder
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="QrCodeGen">
                <span class="bi bi-qr-code" aria-hidden="true"></span> QR Gen
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="BranchNameFormatter">
                <span class="bi bi-git" aria-hidden="true"></span> Branch Names
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="CronGenerator">
                <span class="bi bi-clock" aria-hidden="true"></span> Cron Gen
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="containerIds">
                <span class="bi bi-box" aria-hidden="true"></span> Container Ids
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
